PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:1234@localhost:5432/fundsroom_db?schema=public
JWT_SECRET=super_secret_jwt_key_fundsroom_2026_change_in_production
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
